body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Lucida grande";
}

header {
  margin-bottom: 20px;
  width: 100%;
  background-color: #00DBFF;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style: none;
}

li {
  display: flex;
  text-align: center;
  width: 15%;
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 0.3s;
}

li:hover {
  background-color: #00AFCC;
}

a {
  margin: 0;
  width: 100%;
  list-style: none;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}

main {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

table, tbody {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 10px -6px 1px teal;
}

tr {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
}

th, td {
  margin: 1px 1px 1px 1px;
  text-align: center;
  width: 10%;
  max-height: 40px;
}

.big {
  width: 40%;
}
.big2 {
  width: 25%;
}
.big3 {
  width: 30%;
}
.artists{
  width: 15%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.input {
  margin: 10px 0px 10px 0px;
  height: 30px;
  width: 60%;
  text-align: center;
  font-size: 18px;
}

.submit2 {
  min-height: 50px;
}

.button {
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #9CFFA6;
  background-repeat:no-repeat;
  border: 0px solid #007F0D;
  border-radius: 5px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  transition-property: background-color;
  transition-duration: 0.3s;
  font-size: 20px;
}

.button:hover {
  background-color: #00FF12;
}

.genres {
  width: 60%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
}
